*{
box-sizing: border-box;

}
body
{
    font-family:"Open-Sans",sans-serif;
font-size: 18px;

}



.container
{

margin: 20px auto;
width: 1200px;

}


.container .color-switcher
{

list-style: none;
margin-bottom:20px;
text-align: center;
}

.container .color-switcher li
{
  display:inline-block;
   height: 20px;
    width: 20px;
    cursor: pointer;

}


.container .color-switcher li:nth-child(1)
{

background-color: red;

}
.container .color-switcher li:nth-child(2)
{

background-color: green;

}
.container .color-switcher li:nth-child(3)
{

background-color:black;

}
.container .color-switcher li:nth-child(4)
{

background-color: purple;

}
.container h3
{
    color: red;
}


.container div
{

    background-color: royalblue;
    padding: 20px;
    color: seashell;
}

#Upper
{
    text-align: center;
}
.zero
{

    color: red;
}
#goup
{
    width: 80px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
body
{
    height: 4000px;
}

.class1 h1
{
    color: slateblue;
}
.class1 p
{
    color: springgreen;
}
.class2 h1
{
    color: rgb(2, 1, 7);
}
.class2 p
{
    color: springgreen;
}
.class3 h1
{
    color:magenta;
}
.class3 p
{
    color:salmon;
}
.class4 h1
{
    color: rgb(42, 22, 173);
}
.class4 p
{
    color:royalblue;
}